    body {
        width: 100%;
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        font-family: 'Expletus Sans';
        background: linear-gradient(to top, #420f0fde, #002bff9e, #4f3131);
        
    }
    html{
        scroll-behavior: smooth;
    }

    .nav-dk {
        /* background: linear-gradient(to top, #001dffb3, #8500ff9e, #4f3131); */
        background-image: linear-gradient(to left, #1d5755 2%, #3d99be 31%, #56317a 100%);
    }

    .navbar-brand {
        display: inline-block;
        padding-top: .3125rem;
        padding-bottom: .3125rem;
        margin-right: 1rem;
        font-size: 1.25rem;
        line-height: inherit;
        white-space: nowrap;
    }
    a {
        text-decoration: none;
        color: whitesmoke;
        padding: 10px;
    }
    a:hover {
        color:  darkslategray;
        text-decoration: none;
    }

    .nombre-pagina {
        text-align: left;
        margin: 2%;
        color: whitesmoke;
        font-size: x-large;
        font-weight: bold;
    }

    .navbar-dark .navbar-nav .nav-link {
        color: whitesmoke;
    }
    /* .nav-link { 
        font-family: 'Expletus Sans';
    } */

    .col-lg-12 {
        padding: 0%;
    }

    .card-text-1 {
        text-align: left;
        width: 100%;
        height: 50%;
    }

    .text-sm-left {
        font-family: 'Cabin';
        margin-top: 1.5em;
        font-weight: 700;
        font-size: 2.2em;
        text-align: center;
    }

    .resumen {
        font-family: 'Cabin';
        font-weight: 700;
        font-size: large;
        color: #373A3C;
        text-align: center;
    }

    .Botones-card {
        margin-top: 1em;
        display: inline-block;
    }

    .btn-secondary {
        color: #373A3C;
        background-color: white;
        font-weight: 400;
        font-family: 'Cabin';
        font-size: 75%;
        border-color: #dddddd;
        float: left;
    }

    .btn-outline-light {
        width: 12em;
        margin-top: 2em;
    }

    .Recetas-1 {
        margin-top: 1em;
        margin-bottom: 1em;
    }

    /* .Proyectos {
        margin-top: 2em;
        margin-bottom: 1em;
    } */

    .Extracto {
        margin-top: 4em;
        margin-bottom: 2em;
    }
    .Experiencias {
        margin-top: 4em;
        margin-bottom: 2em;
        display: flex;
    }

    .Recetas-4 {
        margin-top: 3em;
        margin-bottom: 1em;
    }

    .text-left {
        margin-top: 1em;
        border-color: transparent;
    }

    .card-title-2 {
        font-weight: 500;
        font-size: 1.4em;
        margin-top: 1em;
    }

    .carousel {
        margin-top: oem;
    }

    .elementos-1 {
        text-align: left;
        font-weight: 400;
        font-size: large;
        color: whitesmoke;
        margin-top: 2em;
    }

    #proy-front-end-1 {
        background-color: seashell;
        padding-left: 50px;
        padding-right: 50px;
    }
    #proy-front-end-1a {
        background-color: seashell;
        padding-left: 15%;
        padding-right: 15%;
        padding-bottom: 50px;
        text-align: center;
    }
    .encabezado {
        margin-top: 2em;
        padding: 0.75em;
    }

    .h3, h3 {
        text-align: center;
        font-weight: lighter;
        margin-bottom: 2em;
        margin-top: 1em;
        font-size: xx-large;
        color: whitesmoke;
    }

    .h2, h2 {
        font-size: xx-large;
        font-weight: 500;
        color: whitesmoke;
        text-align: center;
    }

    .des-slider1, .des-slider2 {
        color: whitesmoke;
        font-weight: 200;
        font-size: x-large;
    }

    .ing {
        width: 100%;
        border-color: black;
        margin-left: 25%;
        margin-top: 2.5em;
    }
    .ing-1 {
        width: 50%;
        border-color: black;
        margin-left: 25%;
        margin-top: 2.5em;

    }

    .prep {
        width: 9em;
        border-color: black;
        margin-left: 0em;
        margin-top: 0em;
    }

    .card-title-4 {
        font-weight: 500;
        font-size: 1.4em;
        margin-top: 1.5em;
    }

    .card-text-4 {
        margin-right: 2.5em;
        margin-bottom: 2em;
    }

    .h5, h5 {
        font-size: xx-large;
        font-weight: 500;
        color: darkslategray;
        text-align: center;
    }
    .h6, h6 {
        font-weight: 300;
        font-size: x-large;
        margin-bottom: 1em;
        color: white;
        margin: 0.5em;
    }

    .h4, h4 {
        text-align: center;
        font-weight: bolder;
        margin-top: 1em;
        font-size: x-large;
        color: white;
    }
    .modal-content {
        width: 80%;
        background-color:whitesmoke;
        opacity: 0.8;
    }
    .modal-title,.modal-body{
        color:darkslategray;
    }
    #btn-dark {
        background-color: lightslategray;
        color: whitesmoke;
    }
    .btn-light:hover {
        color: whitesmoke;
        background-color:lightslategray;
        border-color:#637585f1;
    }
    #coffee{
        margin-top: 0.85em;
    }
    #coffee1{
        margin-top: 0em;
    }
    #ricomi{
        margin-top: 2.55em;
    }
    #proy-front-end-2{
        margin-bottom: 2em;
    } 

    .frase-final {
        display: inline-block;
        color: white;
        font-size: larger;
        text-align: center;
        width: 100%;
    }

    .typeform-share{
            display: inline-block;
            text-decoration: none;
            color: darkslategray;
            border-color: whitesmoke;
            cursor: pointer;
            font-size: 30px;
            line-height: 50px;
            text-align: center;
            margin: 15px;
            height: 50px;
            padding: 0px 33px;
            border-radius: 5px;
            max-width: 100%;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: 600;
            background-color: whitesmoke;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
    }

    .bg-danger {
        text-align: center;
        margin-top: 4em;
        padding-bottom: 5em;
        background: transparent!important;
    }
    #cargo-1{
        /* display: flex; */
        color: whitesmoke;
        font-weight: 400;
        font-size: larger;
        align-content: center;
        margin-left: 5px;
        margin-top: 15px;
    }
    #cargo-2{
        /* display: flex; */
        color: whitesmoke;
        font-weight: 400;
        font-size: larger;
        align-content: center;
        margin-left: 5px;
    }
    #logo-mega-mec {
        margin-top: 5em;
    }
    .fab{
        color: whitesmoke;
    }

    #container-footer{
        width: 100%;
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
        margin-top: 1em;
        margin-bottom: 1em;
    }
    #texto-centro{
        padding-right: 2em;
        text-align: right;

    }

    .bg-dark {
        padding: 0.5em;
        /* background: linear-gradient(to left, #420f0fde, #002bff9e, #4f3131); */
        background-image: linear-gradient(to left, #1d5755 2%, #3d99be 31%, #56317a 100%);
    }

    @media (max-width: 480px) {
        .carousel,#texto-izquierdo,#danilo-final,#mega-mec{
            display: none;
    }
    }
    @media (max-width: 480px) {
        #logo-mega-mec {
       margin-top: 0;   
    }
    }
    @media (max-width: 480px) {
        #texto-centro{
       padding-right: 0;
       text-align: center; 
    }
    }
    section {
        flex-direction: column-reverse;
        }
    section > img {
        height: 35%;
        }
    .container{
        text-align: center;
        }